<!DOCTYPE html>
<html>
<head>
  <title>MptTree</title>
  <%= stylesheet_link_tag    "mpt_tree/application", media: "all" %>
  <%= javascript_include_tag "mpt_tree/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
